doctype html
html
  head
    title Admin Panel
    link(rel="stylesheet", href="/styles.css")
  body
    nav
      a(href='/admin') Home |
      a(href='/admin/projects') Projects |
      a(href='/admin/skills') Skills
    block content
